<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uppower.project.cashiermanagesystem.dao.BarcodeMapper">

    <select id="selectByCondition"
            resultType="org.uppower.project.cashiermanagesystem.model.entity.BarcodeEntity">

        select * from barcode where deleted=0
        <if test="name!=null">
            and name like concat('%',#{name},'%')
        </if>
        <if test="code!=null">
            and code like concat('%',#{codez},'%')
        </if>
    </select>
</mapper>
