<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uppower.project.cashiermanagesystem.dao.DiscountsMapper">

    <select id="index" resultType="org.uppower.project.cashiermanagesystem.model.dto.DiscountsDto">
        select
        a.pattern,a.target,a.remission,a.discount,b.name auth,
        a.amount,a.create_time,a.start_time,a.end_time
        from discounts as a
        inner join roles as b
        where a.auth=b.id;
    </select>
</mapper>
