<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uppower.project.cashiermanagesystem.dao.UsersMapper">
    <insert id="insertAndGetId" useGeneratedKeys="true" keyProperty="userId"
            parameterType="org.uppower.project.cashiermanagesystem.model.UserInfo">
        insert into users(open_id) values (#{userInfo.openId})
    </insert>

    <select id="show" resultType="org.uppower.project.cashiermanagesystem.model.result.UserResult">
        select a.id,a.open_id,a.phone,a.vipcode,a.birthday,b.Integral,b.experience
        from users as a
        inner join user_account as b
        where a.id = #{id} and a.id=b.user_id
    </select>

    <select id="getDiscount"
            resultType="org.uppower.project.cashiermanagesystem.model.dto.UserDiscountDto">
        select a.id,a.pattern,a.target,a.remission,a.discount,a.start_time,a.end_time,b.status
        from discounts  as a
        inner join user_discount as b
        where a.id=b.discount_id
        and b.user_id=#{id};
    </select>

    <select id="selectByOpenId" resultType="org.uppower.project.cashiermanagesystem.model.UserInfo">
        select id userId,open_id openId,phone,nickname from users where open_id =#{openid}
    </select>

    <update id="registerByOpenId">
        update users set
        vipcode = #{vipCode}
        <if test="vo.phone!=null">
            ,phone = #{vo.phone}
        </if>
        <if test="vo.birthday!=null">
            ,birthday = #{vo.birthday}
        </if>
        <if test="vo.nickname!=null">
            ,nickname = #{vo.nickname}
        </if>
        where open_id = #{openId}
    </update>

    <update id="updateByOpenId">
        update users set nickname = #{vo.nickname}
        <if test="vo.phone!=null">
            ,phone = #{vo.phone}
        </if>
        <if test="vo.birthday!=null">
            ,birthday = #{vo.birthday}
        </if>
        where open_id = #{openId}
    </update>
</mapper>
